{% extends "layout.njk" %}
{% import "parts/card.njk" as cards %}

{% block content %}

{% call cards.render("", "order-success container") %}
  <div class="success-lottie"></div>
  <h2>Pedido realizado com sucesso</h2>
  <p>Aguarde a resposta do vendedor no seus email cadastrado.</p>
  <a href="/products/search">Comprar mais</a>


{% endcall %}

<script src="/lottie.min.js"></script>
<script>
  const element = document.querySelector('.success-lottie')

  lottie.loadAnimation({
    container: element,
    renderer: 'svg',
    loop: false,
    autoplay: true,
    path: '/3101-first-checked.json'
  })
</script>

{% endblock content %}